<% provide :title, "Welcome"  %>
<% content_for :nav_items do %>
<li class="nav-item">
  <a class="nav-link" href="#">Login</a>
</li>
<% end %>
<div class="centering-layout">
  <div class="card text-center center">
    <div class="card-block">
      <h1 class="card-title">
        Welcome to House Holder</h1>
      <h2 class="card-text">This app will facilitate the communication among the roommates.</h2>
      <a href="#" class="btn btn-primary btn-lg">Sign Up Now</a>
    </div>
  </div>
</div>
